@import 'normalize';

* {
  box-sizing: content-box;
  font-family: Montserrat, sans-serif;
}

body {
  //min-width: 567px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

input,
button,
submit {
  border: none;
  outline: none;
}
